@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  background-color: #ffffff;
  color: #000000;
}

.page-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.logo-welcome {
  display: block;
  margin: 0 auto;
}

.reasons-card {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
}

.reasons-content {
  width: 400px;
  background-color: #82b3d3;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 92px 85px 111px 85px;
  position: relative;
}

.reasons-content::after{
  content: "";
  position: absolute;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  align-self: center;
  top:178px;
  width: 60px;
}

.reasons-list {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.reasons-item {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 103px 85px 121px 85px;
  position: relative;

}

 .reasons-item::after{
  content: "";
  position: absolute;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  align-self: center;
  top:189px;
  width: 60px;
}

.reasons-title-more{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin:0 0 30px 0;
}

.reasons-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin:0 0 62px 0;
}

.reasons-item-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.reasons-list-more {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.reasons-item-more {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 182px 85px 81px 85px;
  position: relative;
}

.reasons-item-more-house::before{
  content: "";
  position: absolute;
  background-image: url("../images/reasons-list-more-house.svg");
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
  left:50%;
  top:80px;
  transform: translateX(-50%);
}

.reasons-item-more-food::before{
  content: "";
  position: absolute;
  background-image: url("../images/reasons-list-more-food.svg");
  background-repeat: no-repeat;
  width: 74px;
  height: 70px;
  left:50%;
  top:81px;
  transform: translateX(-50%);
}

.reasons-item-more-souvenirs::before{
  content: "";
  position: absolute;
  background-image: url("../images/reasons-list-more-souvenirs.svg");
  background-repeat: no-repeat;
  width: 64px;
  height: 76px;
  left:50%;
  top:78px;
  transform: translateX(-50%);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.button {
  border: none;
  font-family: inherit;
}

.field {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  padding: 14px 20px 14px 20px;
  width: 452px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px 0 0 4px;
  background-color: #f2f2f2;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.page-header {
  background-color: #ffffff;
  color: #000000;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
}

.navigation {
  width: 507px;
  display: flex;
}

.navigation-list {
  display: flex;
  list-style-type: none;
  width: 339px;
  margin: 0;
  margin-left:28px ;
  padding: 0;
}

.navigation-item{
  padding-top: 20px ;
  padding-bottom: 20px;
  padding-right:16px ;
  padding-left: 16px;
  margin:0 ;
  text-align: center;
  min-width: 100px;
}

.navigation-link {
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  padding: 0;
  margin:0 auto;
}

.navigation-link-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #756157;
  color: #ffffff;
  text-decoration: none;
  width: 160px;
  padding: 8px 34px 8px 34px;
  margin:21px 0 21px 0;
  border-radius: 4px;
}

.search-like-want{
  width: 268px;
  display: flex;
  margin:0;
  padding: 0;
  margin-left: 285px;
}

.intro {
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #5d676d;
  padding:51px 0 76px 0;
  position: relative;
}

.intro::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 57px;
  left:0;
  bottom:0;
  background-image: url("../images/background-logo-bottom.svg") ;
  background-size: 1200px 57px;
}

.reasons-heading{
  padding: 69px 274px 90px 275px;
}

.title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 25px 0;
}

.reasons-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  margin:0;
}

.reasons-card-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  order:1;
}

.reasons-item-more-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  width: 230px;
  margin: 0;
  padding: 0;
}

.booking-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 20px 0;
}

.booking-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  margin:0 0 54px 0;
}

.booking {
  padding: 96px 304px 96px 304px;
  display: flex;
  flex-direction: column;
}

.newsletter {
  color: #ffffff;
  background-image: url("../images/newletter-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 96px 258px 104px 258px;
  display: flex;
  flex-direction: column;
}

.newsletter-inner {
  background-image: none;
  color: #000000;
}

.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin:0 0 20px 0;
}

.newsletter-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  margin: 0 0 54px 0;
}

.newsletter-button {
  background-color: #82b3d3;
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px 50px 8px 50px;
  width: 232px;
  border-radius: 0 4px 4px 0;
}

.button-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #756157;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 8px 50px 8px 50px;
  margin: 0 108px 0 108px;
  border-radius: 4px;
}

.inner-section {
  color: #ffffff;
  background-image: url("../images/catalog-background.png");
  background-color: #5d676d;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px 70px 70px 70px;
}

.inner-section-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin:0 0 8px 0;
  padding: 0;
}

.breadcrumbs {
  color: #ffffff;
  margin:0 0 40px 0;
  padding: 0;
  display:flex;
  list-style-type: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.control-input{
  margin:0;
  margin-right: 16px;
}

.catalog-filter{
  display:grid;
  grid-template-columns: 150px 1fr 150px 2fr 288px 1fr 191px ;;
}

.catalog-filter-group{
  margin:0;
  padding:0;
  border: none;
}

.catalog-filter-house{
grid-column: 3/4;
}

.catalog-filter-infrastructure{
  grid-column: 1/2;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin: 0 0 32px 0;
  padding: 0;
}

.catalog-filter-list{
  margin:0 0 -16px 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  margin:0 0 16px 0;

}

.catalog-filter-price{
  margin: 0;
  width: 288px;
  grid-column: 5/6;
}

.button-catalog{
  padding: 56px 0 0 0;
  display:flex;
  flex-direction: column;
  grid-column: 7/8;

}

.button-apply{
font-size: 16px;
font-weight: 700;
background-color: #82b3d3;
color:#ffffff;
padding: 8px 50px 8px 50px;
text-transform: uppercase;
line-height: 20px;
border-radius: 4px;
margin: 0 0 32px 0;
}

.button-reset{
  margin:0;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: rgba(28,28,28,0);
  color:#ffffff;
  padding: 8px 50px 8px 50px;
  line-height: 20px;
}

.ínner-sort-block{
  padding: 50px 70px 40px 70px;
  margin: 0;
  display: flex;
  align-items: center;

}

.inner-section-sort-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  margin: 6.5px 0 6.5px 0;
  padding-right: 200px;
}

.select-control{
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 292px;
  padding: 12px 50px 12px 20px;
  border: solid 2px #E5E5E5;
  border-radius: 4px;
  margin-right: 70px;
}

.inner-buttons{
  width: 160px;
  margin: 0;
  padding: 0;
  display:grid;
  grid-template-columns: repeat(3, 48px);
  column-gap: 8px;
}

.inner-buttons-item{
  margin: 0;
  padding: 0;
  min-width: 48px;
  height: 48px;
  border: solid 2px #E5E5E5;
  list-style-type: none;
  border-radius: 4px;
}

.hotel-list{
  padding: 0 70px 0 70px;
  margin:0;
  margin-bottom: 80px;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px 20px;
}

.hotel-card{
  padding: 19px;
  margin:0;
  list-style-type: none;
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  gap:16px 20px;
  border: solid 1px #e6e6e6;
  border-radius: 4px;
}

.hotel-card-image{
display: block;
}

.hotel-card-link {
  text-decoration: none;
  grid-column: 1/3;
  display: block;

}
.hotel-card-link-name{
  text-decoration: none;
  grid-column: 1/3;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  padding: 0;
  margin:0;
  grid-template-columns: 1/3;
}

.hotel-card-name {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  justify-self: end;
}

.hotel-card-link-more {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #756157;
  color: #ffffff;
  text-decoration: none;
  padding: 8px 26px 8px 26px;
  border-radius: 4px;
}

.hotel-card-link-favorites {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #82b3d3;
  color: #ffffff;
  text-decoration: none;
  padding: 8px 20px 8px 20px;
  border-radius:4px ;
}

.hotel-card-link-favorites-active {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #7db54f;
  color: #ffffff;
  text-decoration: none;
  padding:8px 18px 8px 18px ;
  border-radius: 4px;
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  background-color: #f2f2f2;
  text-transform: uppercase;
  padding: 9px 22px 8px 23px;
  border-radius: 4px;
}

.pagination{
  margin: 0 70px 0 70px;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(6, 60px);
column-gap: 8px;
}

.pagination-item{
  width: 60px;
  text-align: center;

  background-color: #82b3d3;
  padding: 11.36px 0 12.64px 0;
  border-radius: 4px;
}

.pagination-item-current{
  background-color: #f2f2f2;
}

.pagination-item-devider{
  background-color: #ffffff;
}


.pagination-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.pagination-current {
  color: #000000;
}

.pagination-devider {
  font-size: 22px;
  background-color: #ffffff;
  color: #000000;
}

.page-footer{
display: flex;
padding: 40px 70px 30px 70px;
justify-content: space-between;
width: 100%;
}

.footer-social-list {
  display: grid;
  grid-template-columns: repeat(3, 47.33px);
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-social-item{
  height: 40px;
  border: #5d676d solid 2px;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  display: inline-block;
  text-decoration: none;
  margin:0;
  padding:0;
}

html {
  height: 100%;
}

.main-container {
  flex-grow: 1;
}
