@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  background-color: #ffffff;
  color: #000000;
}

.main-container {
  flex-grow: 1;
}

.page-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.logo-welcome {
  display: block;
  margin: 0 auto;
}

.reasons-card {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
}

.reasons-content {
  width: 400px;
  background-color: #82b3d3;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 92px 85px 111px 85px;
  position: relative;
}

.reasons-content::after {
  content: "";
  position: absolute;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  align-self: center;
  top: 178px;
  width: 60px;
}

.reasons-list {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.reasons-item {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 103px 85px 121px 85px;
  position: relative;
}

.reasons-item::after {
  content: "";
  position: absolute;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  align-self: center;
  top: 189px;
  width: 60px;
}

.reasons-title-more {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 30px 0;
}

.reasons-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 62px 0;
}

.reasons-item-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.reasons-list-more {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.reasons-item-more {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 182px 85px 81px 85px;
  position: relative;
}

.reasons-item-more-house::before {
  content: "";
  position: absolute;
  background-image: url("../images/reasons-list-more-house.svg");
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
  left: 50%;
  top: 80px;
  transform: translateX(-50%);
}

.reasons-item-more-food::before {
  content: "";
  position: absolute;
  background-image: url("../images/reasons-list-more-food.svg");
  background-repeat: no-repeat;
  width: 74px;
  height: 70px;
  left: 50%;
  top: 81px;
  transform: translateX(-50%);
}

.reasons-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.reasons-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.reasons-item-more:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.reasons-item-more-souvenirs::before {
  content: "";
  position: absolute;
  background-image: url("../images/reasons-list-more-souvenirs.svg");
  background-repeat: no-repeat;
  width: 64px;
  height: 76px;
  left: 50%;
  top: 78px;
  transform: translateX(-50%);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.button {
  border: none;
  font-family: inherit;
  cursor: pointer;
}

.newsletter-field {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  padding: 14px 20px 14px 20px;
  width: 452px;
  min-height: 100%;
  box-sizing: border-box;
  border: none;
  border-radius: 4px 0 0 4px;
  background-color: #f2f2f2;
}

.newsletter-field:hover {
  background-color: #e6e6e6;
}

.newsletter-field:focus {
  background-color: #e6e6e6;
  outline: solid 3px #83b3d3;
  outline-offset: -3px;
}

.newsletter-field:active {
  background-color: #f2f2f2;
  outline: solid 2px #000000;
  outline-offset: -2px;
}

.newsletter-label {
  flex-grow: 1;
  min-height: 100%;
}

.newsletter-form {
  display: flex;
  width: 684px;
}

.page-header {
  background-color: #ffffff;
  color: #000000;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
}

.page-header-logo {
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 1;
}

.navigation {
  width: 507px;
  display: flex;
  margin: 0 285px 0 0;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  width: 339px;
  padding: 0;
  margin: 0 0 0 168px;
}

.navigation-item {
  padding: 0;
  text-align: start;
  min-width: 100px;
}

.navigation-link {
  display: block;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  margin: 0;
  padding: 20px 16px 20px 16px;
}

.navigation-link:hover {
  color: #756157;
}

.navigation-link:focus {
  color: #756157;
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
  border-radius: 4px;
}

.navigation-link:active {
  color: #756157;
}

.navigation-link-active {
  padding-bottom: 0;
}

.navigation-link-active::after {
  content: "";
  width: 100%;
  display: block;
  border-bottom: solid 2px #756257;
  padding-top: 18px;
}

.navigation-link-search {
  position: relative;
  display: block;
  margin: 0;
  min-width: 44px;
  min-height: 64px;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.navigation-link-search:hover {
  opacity: 0.8;
}

.navigation-link-search:focus {
  opacity: 0.8;
  outline: 3px solid #83b3d3;
  border-radius: 4px;
  outline-offset: -3px;
}

.navigation-link-search:active {
  opacity: 0.5;
}

.navigation-link-like {
  position: relative;
  margin: 0 20px 0 0;
  min-width: 44px;
  min-height: 64px;
  display: block;
  background-image: url("../images/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.navigation-link-like:hover {
  opacity: 0.8;
}

.navigation-link-like:focus {
  opacity: 0.8;
  outline: 3px solid #83b3d3;
  border-radius: 4px;
  outline-offset: -3px;
}

.navigation-link-like:active {
  opacity: 0.5;
}

.navigation-link-like::before {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  padding: 5px;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  content: "12";
  background-color: #7db54f;
  border-radius: 50%;
}

.navigation-link-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #756157;
  color: #ffffff;
  text-decoration: none;
  width: 160px;
  padding: 8px 34px 8px 34px;
  border-radius: 4px;
  margin-top: 14px;
}

.navigation-link-button:hover {
  background-color: #615048;
}

.navigation-link-button:focus {
  background-color: #615048;
  outline: 3px solid #83b3d3;
  border-radius: 4px;
  outline-offset: -3px;
}

.navigation-link-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.navigation-link-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.search-like-want {
  width: 268px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  align-items: start;
}

.intro {
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #5d676d;
  padding: 51px 0 82px 0;
  position: relative;
}

.intro::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 57px;
  left: 0;
  bottom: 0;
  background-image: url("../images/background-logo-bottom.svg");
  background-size: 1200px 57px;
}

.reasons-heading {
  padding: 69px 274px 90px 275px;
}

.title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 25px 0;
}

.reasons-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.reasons-card-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  order: 1;
}

.reasons-item-more-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  width: 230px;
  margin: 0;
  padding: 0;
}

.booking-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 20px 0;
}

.booking-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  margin: 0 0 54px 0;
}

.booking {
  padding: 96px 304px 96px 304px;
  display: flex;
  flex-direction: column;
}

.newsletter {
  color: #ffffff;
  background-image: url("../images/newletter-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 96px 258px 104px 258px;
  display: flex;
  flex-direction: column;
}

.newsletter-inner {
  background-image: none;
  color: #000000;
}

.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 20px 0;
}

.newsletter-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  margin: 0 0 54px 0;
}

.newsletter-button {
  background-color: #82b3d3;
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px 50px 8px 50px;
  width: 232px;
  border-radius: 0 4px 4px 0;
}

.newsletter-button:hover {
  background-color: #68a2ca;
}

.newsletter-button:focus {
  background-color: #68a2ca;
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.newsletter-button:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.newsletter-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.button-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #756157;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 8px 50px 8px 50px;
  margin: 0 108px 0 108px;
  border-radius: 4px;
}

.button-link:hover {
  background-color: #615048;
}

.button-link:focus {
  background-color: #615048;
  outline: 3px solid #83b3d3;
  border-radius: 4px;
  outline-offset: -3px;
}

.button-link:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-link:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.inner-section {
  color: #ffffff;
  background-image: url("../images/catalog-background.png");
  background-color: #5d676d;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px 70px 70px 70px;
}

.inner-section-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0 0 8px 0;
  padding: 0;
}

.breadcrumbs {
  color: #ffffff;
  margin: 0 0 40px 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  display: block;
  align-items: center;
  position: relative;
}

.breadcrumbs-link-current {
  pointer-events: none;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link-icon {
  position: relative;
  display: block;
  width: 13px;
  height: 16px;
  background-image: url("../images/home.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-link:hover {
 opacity: 0.6;
}

.breadcrumbs-item {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 28px;
}

.breadcrumbs-item::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 11px;
  right: 11px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../images/arrow-right.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-item:last-child::before {
  display: none;
}

.catalog-filter {
  display: grid;
  grid-template-columns: 150px 1fr 150px 2fr 288px 1fr 191px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-house {
  grid-column: 3/4;
}

.catalog-filter-infrastructure {
  grid-column: 1/2;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin: 0 0 32px 0;
  padding: 0;
}

.catalog-filter-list {
  margin: 0 0 -16px 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  margin: 0 0 16px 0;
}

.control {
  position: relative;
  display: block;
  padding-left: 37px;
}

.control-label {
  line-height: 23px;
  font-size: 18px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
}

.control:hover .control-mark {
  opacity: 0.6;
}

.control:hover .control-label {
  opacity: 0.6;
}

.control:active .control-mark {
  opacity: 0.3;
}

.control:active .control-label {
  opacity: 0.3;
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  background-image: url("../images/arrow-form.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  content: "";
}

.control-house {
  position: relative;
  display: block;
  padding-left: 35px;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  background-image: url("../images/dot-catalog.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  content: "";
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:focus + .control-mark,
.control-input[type="checkbox"]:focus + .control-mark {
  outline: 3px solid #83b3d3;
}

.catalog-filter-price {
  margin: 0;
  width: 288px;
  grid-column: 5/6;
}

.range-wrapper-inputs {
  display: flex;
  margin-bottom: 45px;
  grid-column: 5/6;
}

.cost {
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 143px;
  min-height: 48px;
  margin-right: 2px;
  color: rgba(0, 0, 0, 0.3);
  align-items: center;
}

.cost:last-of-type .cost-input {
  border-radius: 0 4px 4px 0;
}

.cost-input {
  width: 100%;
  height: 100%;
  padding: 0 40px 0 20px;
  font-weight: 700;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  text-align: start;
  border: none;
  appearance: textfield;
  z-index: 1;
  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
}

.cost-input:hover {
  background-color: #e6e6e6;
}

.cost-input:focus {
  outline: 3px solid #83b3d3;
  background-color: #e6e6e6;
}

.cost-input:active {
  background-color: #f2f2f2;
  outline: 2px solid #000000;
}

.cost-label {
  position: absolute;
  z-index: 1;
  max-width: 29px;
  word-break: break-word;
  font-size: 18px;
  line-height: 24px;
  right: 20px;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  width: 287px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
  left: 0;
  width: 226px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.range-toggle:hover {
  background: #ffffff;
}

.range-toggle:focus {
  background: #ffffff;
  outline: 3px solid #83b3d3;
}

.range-toggle:active {
  background: #ffffff;
  outline: 3px solid #83b3d3;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.button-catalog {
  padding: 56px 0 0 0;
  display: flex;
  flex-direction: column;
  grid-column: 7/8;
}

.button-apply {
  font-size: 16px;
  font-weight: 700;
  background-color: #82b3d3;
  color: #ffffff;
  padding: 8px 50px 8px 50px;
  text-transform: uppercase;
  line-height: 20px;
  border-radius: 4px;
  margin: 0 0 32px 0;
}

.button-apply:hover {
  background-color: #68a2ca;
}

.button-apply:focus {
  background-color: #68a2ca;
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.button-apply:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button-apply:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.button-reset {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: rgba(28, 28, 28, 0);
  color: #ffffff;
  padding: 8px 50px 8px 50px;
  line-height: 20px;
}

.button-reset:focus-visible {
  outline: 3px solid #83b3d3;
  color: #ffffff;
  border-radius: 4px;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-reset:disabled {
  opacity: 0.1;
}

.inner-section-sort {
  padding: 50px 70px 60px 70px;
}

.inner-sort-block {
  margin: 0 0 40px 0;
  display: flex;
  align-items: start;
}

.inner-section-sort-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  margin: 6px 20px 6px 0;
}

.select-control {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 292px;
  padding: 12px 50px 12px 20px;
  border: solid 2px #e5e5e5;
  border-radius: 4px;
  margin: 0 70px 0 auto;
  appearance: none;
  background-image: url("../images/arrow.svg");
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: right 17px center;
}

.select-control:hover {
  border-color: #68a2ca;
}

.select-control:focus {
  border-color: #68a2ca;
  outline: 3px solid #83b3d3;
  border-radius: 4px;
  outline-offset: -3px;
}

.select-control:active {
  border-color: #3f5e72;
}

.select-control:disabled {
  color: rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.3);
}

.inner-buttons {
  width: 160px;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 48px);
  gap: 8px;
}

.inner-buttons-item {
  margin: 0;
  min-width: 48px;
  height: 48px;
  list-style-type: none;
}

.button-display {
  min-width: 48px;
  height: 48px;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  border: solid 2px #e5e5e5;
  border-radius: 4px;
}

.button-display-current {
  border: solid 2px #000000;
}

.button-display:hover {
  border-color: #000000;
}

.button-display:focus {
  border-color: #68a2ca;
  outline: 3px solid #83b3d3;
  border-radius: 4px;
  outline-offset: -3px;
}

.button-display:active {
  border-color: #000000;
}

.button-cards {
  background-image: url("../images/show-cards.svg");
}

.button-slider {
  background-image: url("../images/show-slider.svg");
}

.button-list {
  background-image: url("../images/show-list.svg");
}

.hotel-list {
  padding: 0 0 40px 0;
  margin: 0 0 40px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px 20px;
  border-bottom: 1px solid #e6e6e6;
}

.hotel-card {
  padding: 19px;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  border: solid 1px #e6e6e6;
  border-radius: 4px;
}

.hotel-card-image {
  display: block;
  margin-bottom: 16px;
}

.hotel-card-link {
  text-decoration: none;
  display: block;
  margin-bottom: 16px;
}

.hotel-card-link:hover {
  opacity: 0.8;
}

.hotel-card-link:focus {
  outline: 3px solid #83b3d3;
  outline-offset: -1px;
}

.hotel-card-content {
  margin-top: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 20px;
  align-items: start;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  padding: 0;
  margin: 0;
}

.hotel-card-name {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  justify-self: end;
}

.hotel-card-link-more {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #756157;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 8px 26px 8px 26px;
  border-radius: 4px;
}

.hotel-card-link-more:hover {
  background-color: #615048;
}

.hotel-card-link-more:focus {
  background-color: #615048;
  outline: 3px solid #83b3d3;
  border-radius: 4px;
  outline-offset: -3px;
}

.hotel-card-link-more:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-card-link-favorites {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  background-color: #82b3d3;
  color: #ffffff;
  text-decoration: none;
  padding: 8px 20px 8px 20px;
  border-radius: 4px;
}

.hotel-card-link-favorites:hover {
  background-color: #68a2ca;
}

.hotel-card-link-favorites:focus {
  background-color: #68a2ca;
  outline: 3px solid #83b3d3;
  border-radius: 4px;
  outline-offset: -3px;
}

.hotel-card-link-favorites:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-card-link-favorites:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.hotel-card-link-favorites-active {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #7db54f;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 8px 18px 8px 18px;
  border-radius: 4px;
}

.hotel-card-link-favorites-active:hover {
  background-color: #6c9e42;
}

.hotel-card-link-favorites-active:focus {
  background-color: #6c9e42;
  outline: 3px solid #83b3d3;
  border-radius: 4px;
  outline-offset: -3px;
}

.hotel-card-link-favorites-active:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-card-link-favorites-active:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.hotel-star-rating {
  margin: 0;
  height: 17px;
  align-self: center;
  background-image: url("../images/star.svg");
  background-repeat: space;
  background-position-y: center;
}

.star-four {
  width: 89px;
}

.star-three {
  width: 66px;
}

.star-two {
  width: 44px;
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  background-color: #f2f2f2;
  text-align: center;
  text-transform: uppercase;
  padding: 9px 22px 8px 23px;
  border-radius: 4px;
}

.pagination {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, 60px);
  gap: 8px;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  min-height: 60px;
  text-align: center;
  background-color: #82b3d3;
  padding: 5px;
  border-radius: 4px;
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:focus {
  background-color: #68a2ca;
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.pagination-link:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
  pointer-events: none;
}

.pagination-link-divider {
  background-color: #ffffff;
  color: #000000;
  pointer-events: none;
}

.page-footer {
  display: flex;
  padding: 45px 70px 35px 70px;
  justify-content: space-between;
  width: 100%;
}

.footer-social-list {
  display: grid;
  grid-template-columns: repeat(3, 47px);
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 47px;
  color: #82b3d3;
}

.footer-social-link:hover {
  color: #68a2ca;
}

.footer-social-link:focus {
  color: #68a2ca;
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.footer-social-link:active {
  color: rgba(104, 162, 202, 0.3);
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  display: inline-block;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.footer-contacts-phone:hover {
  color: #756157;
}

.footer-contacts-phone:focus {
  color: #756157;
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.footer-contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.html-academy-link {
  margin-top: 5px;
  color: #000000;
}

.html-academy-link:hover {
  color: #756157;
}

.html-academy-link:focus {
  color: #756157;
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.html-academy-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  background-color: #ffffff;
  min-width: 577px;
  min-height: 448px;
  padding: 64px 70px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.appointment-form {
  display: grid;
  grid-template-areas:
    "appointment-label appointment appointment appointment"
    "departure-label departure departure departure"
    "adult adult-button children children-button"
    "search search search search";
  grid-template-columns: 137px 144px 144px 153px;
  row-gap: 48px;
}

.appointment-label {
  grid-area: appointment-label;
  padding: 12px 24px 12px 0;
}

.departure-label {
  grid-area: departure-label;
  padding: 12px 18px 12px 0;
}

.input-appointment {
  position: relative;
  grid-area: appointment;
}

.input-departure {
  position: relative;
  grid-area: departure;
}

.amount-adult {
  grid-area: adult;
}

.adult-button {
  grid-area: adult-button;
}

.amount-children {
  grid-area: children;
  margin-left: auto;
}

.children-button {
  grid-area: children-button;
  margin-left: auto;
}

.modal-title {
  margin: 0 164px 64px 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  max-width: 577px;
  text-transform: uppercase;
  grid-area: title;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 63px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.close-image {
  fill: #000000;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-close-button:active {
  background-color: #e6e6e6;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:active .close-image {
  opacity: 0.3;
}

.modal-container-close {
  display: none;
}

.field {
  height: 48px;
  width: 100%;
  margin: 0;
  border: none;
  border-radius: 4px;
  background: #f2f2f2;
  padding: 14px 42px 14px 21px;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: inherit;
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  background-position: center right 22px;
}

.field:focus-visible {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.field:active {
  background-color: #ffffff;
  outline: 2px solid #000000;
  border-radius: 4px;
  opacity: 1;
}

.field:hover {
  background-color: #e6e6e6;
  opacity: 0.6;
}

.appointment-date {
  margin-right: 24px;
}

.departure-date {
  margin-right: 18px;
}

.form-label,
.field-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.field-label {
  padding: 12px 46px 12px 0;
}

.error {
  position: absolute;
  color: #ff5757;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  top: 36px;
  left: 21px;
  margin-bottom: 0;
  display: none;
}

.is-invalid + .error {
  display: block;
}

.luck {
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  top: 36px;
  left: 21px;
  margin-bottom: 0;
  display: none;
}

.is-valid + .luck {
  display: block;
}

.field-box {
  display: grid;
  grid-template-columns: 40px 31px 40px;
  align-items: center;
  margin-bottom: auto;
}

.field-number {
  width: 31px;
  height: 48px;
  border: none;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}

.field-number::-webkit-outer-spin-button,
.field-number::-webkit-inner-spin-button {
  display: none;
}

.field-number[type="number"] {
  -moz-appearance: textfield;
}

.decrease {
  border-radius: 4px 0 0 4px;
}

.addition {
  border-radius: 0 4px 4px 0;
}

.field-button {
  display: block;
  width: 40px;
  height: 48px;
  background-color: #f2f2f2;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.image-decrease,
.image-addition {
  width: 20px;
  height: 20px;
  padding: 2px;
  fill: rgba(117, 97, 87, 0.3);
  border-radius: 2px;
}

.field-button:focus .image-decrease,
.field-button:focus .image-addition {
  outline: 3px solid #83b3d3;
  fill: #000000;
}

.field-button:active .image-decrease,
.field-button:active .image-addition {
  opacity: 0.2;
}

.field-button:hover .image-decrease,
.field-button:hover .image-addition {
  fill: #000000;
}

.search-button {
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  min-width: 577px;
  min-height: 36px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  background-color: #82b3d3;
  grid-area: search;
}

.search-button:hover {
  background-color: #68a2ca;
}

.search-button:focus-visible {
  background-color: #68a2ca;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.search-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.tooltip-toggle {
  margin: 0;
  display: block;
  border-radius: 50%;
  border: none;
  padding: 8px 12px;
  background-color: #83b3d3;
  width: 26px;
  height: 26px;
}

.tooltip-text {
  background-color: #333333;
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-transform: none;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 15px 18px 18px 22px;
  width: 256px;
  position: absolute;
  margin-top: 16px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
}

.tooltip {
  position: absolute;
  margin-left: -34px;
  width: 26px;
  height: 26px;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.form-label-icon {
  position: relative;
  padding: 11px 0 0 54px;
}

.tooltip-text::after {
  content: "";
  background-image: url("../img/tooltip-arrow.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
