@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
li{
  list-style-type: none;
}



body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  background-color: #ffffff;
  color: #000000;
}
.page-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.logo-welcome {
  display: block;
  margin: 0 auto;
}

.reasons-description {
  text-align: center;
  width: 651px;
  margin: 0 274px 90px 275px;
}

.reasons-card {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;

}
.reasons-content {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 92px 85px 111px 85px;
}
.reasons-content::after{
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  width: 60px;
  content: "";
  align-self: center;
  margin: 30px 0 30px 0;
  order:0;
}

.reasons-list {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.reasons-item {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 103px 85px 121px 85px;

}
 .reasons-item::after{
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  width: 60px;
  content: "";
  align-self: center;
  margin: 30px 0 30px 0;
  order:0;
}
.reasons-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  width: 175px;
  text-align: center;
  margin: 0 auto;
  order:-1;
}

.reasons-more{
  padding: 0;
  margin:0 auto;
  margin-top:30px;
  margin-bottom: 30px;
}

.reasons-item-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  order:1;

}

.reasons-list-more {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
}
.reasons-item-more {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 80px 85px 81px 85px;
}
.reasons-item-more:nth-child(1)::before{
  background-image: url("../images/reasons-list-more-house.svg");
  background-repeat: no-repeat;
  content: "";
  width: 75px;
  height: 72px;
  align-self: center;
  order:-2;
  margin:0 auto;
}

.reasons-item-more:nth-child(2)::before{
  background-image: url("../images/reasons-list-more-food.svg");
  background-repeat: no-repeat;
  content: "";
  width: 74px;
  height: 70px;
  align-self: center;
  order:-2;
  margin:0 auto;
}

.reasons-item-more:nth-child(3)::before{
  background-image: url("../images/reasons-list-more-souvenirs.svg");
  background-repeat: no-repeat;
  content: "";
  width: 64px;
  height: 76px;
  align-self: center;
  order:-2;
  margin:0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.button {
  border: none;
  font-family: inherit;
}

.field {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  padding: 14px 20px 14px 20px;
  width: 452px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px 0 0 4px;
  background-color: #f2f2f2;
}
.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.page-header {
  background-color: #ffffff;
  color: #000000;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;


}

.navigation {
  width: 507px;
  display: flex;

}
.navigation-list {
  display: flex;
  list-style-type: none;
  width: 339px;
  margin: 0;
  margin-left:28px ;
  padding: 0;

}

.navigation-item{
  padding-top: 20px ;
  padding-bottom: 20px;
  padding-right:16px ;
  padding-left: 16px;
  margin:0 ;
  text-align: center;
  min-width: 100px;
}

.navigation-link {
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  padding: 0;
  margin:0 auto;
}

.navigation-link-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #756157;
  color: #ffffff;
  text-decoration: none;
  width: 160px;
  padding: 8px 34px 8px 34px;
  margin:21px 0 21px 0;
  border-radius: 4px;

}
.search-like-want{
  width: 268px;
  display: flex;
  margin:0;
  padding: 0;
  margin-left: 285px;
}


.intro {
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #5d676d;
  padding:51px 0 76px 0;
}

.intro::before{
  background-image: url("../images/background-logo-bottom.svg") ;
  background-size: 1200px 57px;
  position: absolute;
  width: 1200px;
  height: 57px;
  content: "";
  display: block;

}

.reasons{
  padding: 0;
  padding-top: 69px;
}

.title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  width: 620px;
  margin: 0 auto;
  padding-bottom: 25px;
}

.reasons-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin: 0 auto;
  padding-bottom: 90px;
}

.reasons-content {
  background-color: #82b3d3;
  color: #ffffff;
}



.reasons-card-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  order:1;
}

.reasons-list li:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.reasons-list li:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}



.reasons-item-more-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  width: 230px;
  margin: 0;
  padding: 0;
}

.reasons-list-more li:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.booking-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  width: 297px;
  text-align: center;
  margin: 0 auto;
}

.booking-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  width: 592px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 54px;
}
.booking {
  padding: 96px 304px 96px 304px;
  display: flex;
  flex-direction: column;
}

.newsletter {
  color: #ffffff;
  background-image: url("../images/newletter-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 96px 258px 104px 258px;
  display: flex;
  flex-direction: column;
}

.newsletter-inner {
  background-image: none;
  color: #000000;
}

.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}

.newsletter-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  width: 475px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 54px;
}

.newsletter-button {
  background-color: #82b3d3;
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px 50px 8px 50px;
  width: 232px;
  border-radius: 0 4px 4px 0;
}

.button-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #756157;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  width: 376px;
  padding: 8px 50px 8px 50px;
  margin: 0 auto;
  border-radius: 4px;
}

.inner-section {
  color: #ffffff;
  background-image: url("../images/catalog-background.png");
  background-color: #5d676d;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px 70px 70px 70px;
}

.inner-section-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin:0;
  padding: 0;
}

.breadcrumbs {
  color: #ffffff;
  margin:0;
  padding: 0;
  display:flex;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.control-input{
  margin:0;
  margin-right: 16px;
}

.catalog-filter{
  display:flex;
  padding-top: 40px;
}
.catalog-filter-group{
  margin:0;
  padding:0;
  border: none;

}
.catalog-filter-group:not(:nth-child(3)){
   padding-right: 70px;
   }

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 32px;
  padding: 0;
}
.catalog-filter-list{
  margin:0;
  padding: 0;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  margin:0;

}
.catalog-filter-item:not(:nth-child(3n)){
  margin-bottom:16px;
}
.catalog-filter-price{
  margin: 0 70px 0 70px;
  width: 288px;

}

.button-catalog{
  padding-top: 55px;
  display:flex;
  flex-direction: column;
  width: 191px;

}
.button-apply{
font-size: 16px;
font-weight: 700;
background-color: #82b3d3;
color:#ffffff;
padding: 8px 50px 8px 50px;
text-transform: uppercase;
line-height: 20px;
border-radius: 4px;
}
.button-reset{

  margin:0;
  margin-top:40px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: rgba(28,28,28,0);
  color:#ffffff;
  padding: 8px 50px 8px 50px;
  line-height: 20px;
}
.ínner-sort-block{
  padding: 50px 70px 40px 70px;
  margin: 0;
  display: flex;
  align-items: center;

}

.inner-section-sort-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  margin: 6.5px 0 6.5px 0;
  padding-right: 200px;
}

.select-control{
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 292px;
  padding: 12px 50px 12px 20px;
  border: solid 2px #E5E5E5;
  border-radius: 4px;
  margin-right: 70px;
}

.inner-buttons{
  width: 160px;
  margin: 0;
  padding: 0;
  display:flex;

}
.inner-buttons-item{
  margin: 0;
  padding: 0;
  min-width: 46px;
  height: 46px;
  border: solid 2px #E5E5E5;
}
.inner-buttons-item:not(:nth-child(3)){
  margin-right: 8px;
}

.hotel-list{
  padding: 0 70px 0 70px;
  margin:0;
  margin-bottom: 80px;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px 20px;
}
.hotel-card{
  padding: 19px;
  margin:0;


}
.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  padding: 0;
  margin:0;
}

.hotel-card-name {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.hotel-card-link-more {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #756157;
  color: #ffffff;
  text-decoration: none;
}

.hotel-card-link-favorites {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #82b3d3;
  color: #ffffff;
  text-decoration: none;
}

.hotel-card-link-favorites-active {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #7db54f;
  color: #ffffff;
  text-decoration: none;
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  background-color: #f2f2f2;
  text-transform: uppercase;
}
.pagination{
  margin: 0 auto;
  padding: 0;
  width: 1060px;
  display:flex;
}
.pagination-item{
  width: 60px;
  text-align: center;
  margin-bottom: 8px;
  background-color: #82b3d3;
  padding: 11.36px 0 12.64px 0;
  border-radius: 4px;
}
.pagination-item-current{
  background-color: #f2f2f2;
}

.pagination-item-devider{
  background-color: #ffffff;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;

}

.pagination-link {

  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.pagination-current {

  color: #000000;
}

.pagination-devider {
  background-color: #ffffff;
  color: #000000;
}
.page-footer{
display: flex;
padding: 40px 70px 30px 70px;
justify-content: space-between;
width: 100%;
}

.footer-social-list {
  display: flex;
  width: 142px;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  margin:0;
  padding:0;
}

html {
  height: 100%;
}
.main-container {
  flex-grow: 1;
}
